@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.box-shadow {
  -webkit-box-shadow: 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px rgba(0, 0, 0, 0.2);
}

body {
  width: 20.5rem;
  margin: 1.5rem auto;
  margin-top: 6.1rem;
  background-image: url("../images/bg-intro-mobile.png");
  background-color: #ff7a7a;
}

@media screen and (min-width: 1200px) {
  body {
    width: 76.25rem;
    margin-top: 4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body header {
  text-align: center;
  color: white;
}

@media screen and (min-width: 1200px) {
  body header {
    width: 30.75rem;
    text-align: left;
  }
}

body header h1 {
  font-size: 1.7rem;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  body header h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

body header p {
  margin-top: 1.4rem;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  body main {
    width: 33.75rem;
  }
}

body main .box {
  height: 5.5rem;
  width: 100%;
  margin-top: 4.375rem;
  padding: 1rem 3rem;
  background-color: #6055a5;
  border: 1px solid #6055a5;
  border-radius: 8px;
  -webkit-box-shadow: 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1rem;
  text-align: center;
}

body main .box:hover {
  background-color: #4c4483;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  body main .box {
    height: 3.75rem;
  }
}

body main .box span {
  font-weight: 700;
}

body main .inputBox {
  margin-top: 1.5rem;
  padding: 1.5rem 1.5rem 1.5rem 1.875rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px rgba(0, 0, 0, 0.2);
  background-color: white;
}

body main .inputBox input {
  height: 3.5rem;
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border: 1px solid #b9b6d3;
  border-radius: 4px;
  font-weight: 600;
}

body main .inputBox button {
  height: 3.5rem;
  width: 100%;
  background-color: #38cc8c;
  border-bottom: 2px;
  border-radius: 4px;
  -webkit-box-shadow: 0px -4px 0px 0px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0px -4px 0px 0px inset rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

body main .inputBox button:hover {
  background-color: #2ba671;
  cursor: pointer;
}

body main .inputBox p {
  margin-top: 0.5rem;
  color: #b9b6d3;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}

body main .inputBox p a {
  text-decoration: none;
  color: #ff7a7a;
  font-weight: 700;
}

body main .inputBox p a:hover {
  color: #ff4747;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */